/*
@import "https://fonts.googleapis.com/css?family=Montserrat:400,600,800&subset=cyrillic";
*/
@media (min-width: 1200px) {
.container{max-width:1170px}
}
body{color:#363636;overflow-x:hidden}
a{color:#f0f;text-decoration:underline}
.c-h-roz{color:#f0f;font-family: 'MonotypeCorsiva';font-size: 48px;padding-bottom: 0px;}
.c-roz{color:#f0f}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-weight:700}
a:hover{color:#363636}
img{max-width:100%}
section,.section{padding:35px 0}
svg.svg-inline--fa{color:#f0f}
header.header{padding:30px 0}
.header p{margin:0}
.top-contact svg{margin-right:10px}
.top-contact a{color:#363636;text-decoration:none}
li.cart{border-right:1px solid #363636}
li.cart svg{font-size:37px;margin-right:16px}
li.cart-right{padding-left:16px;letter-spacing:-1px}
svg.svg-inline--fa.fa-ruble-sign.fa-w-12{color:#363636}
a.nav-link{text-transform:uppercase;text-decoration:none;font-weight:600}
li.nav-item.active a.nav-link{border-bottom:3px solid #f0f}
.size-33{font-size:33px;margin-top:60px;padding-top: 20px;text-align: center;}
.size-72{font-size:72px}
span.bgFFF0FF{padding:0 10px 10px;background-color:#FFF0FF}
.btn-danger{color:#fff;background-color:#f0f;border-color:#f0f;-webkit-box-shadow:0 13px 21px -2px rgba(230,12,230,1);-moz-box-shadow:0 13px 21px -2px rgba(230,12,230,1);box-shadow:0 13px 21px -2px rgba(230,12,230,1);font-size:18px;font-weight:600;border-radius:23px;margin-top:70px}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link{padding:0;margin-left:1rem;margin-right:1rem}
div#navbarSupportedContent{-ms-flex-pack:center!important;justify-content:center!important;-ms-flex:1 1 auto!important;flex:1 1 auto!important;display:-ms-flexbox!important;display:flex!important;-ms-flex:1 1 auto!important;flex:1 1 auto!important}
li.nav-item{border-right:1px solid #E2E2E2}
li.nav-item:last-child{border-right:none}
.w-360{max-width:360px}
img.bokal{position:absolute;right:-70px;z-index:777}

}
@media (max-width: 1999.99px) {
li.cart svg{font-size:33px;margin-right:10px}
li.cart-right{padding-left:10px;letter-spacing:-1px;line-height:15px}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav.png);
    background-repeat: no-repeat;
	
}
@media (max-width: 691.99px) {
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope
{
	width: 310px;
}
}

@media (min-width: 768px)
{
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_ipad.png);
    background-repeat: no-repeat;
}
.slick-slide
{
	display: none;
	float: left;
	height: 50%;
	min-height: 1px;
	
}
}

@media (min-width: 1020px )
{
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_ipad_pro.png);
    background-repeat: no-repeat;
}
.slick-slide
{
	height: 40%;
	
}
}

@media (min-width: 1040px)
{
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav.png);
    background-repeat: no-repeat;
}
.slick-slide
{
	/*height: 60%;*/
	height: 60%;
}

}
@media (min-width: 1000px)
{

.slick-slide
{
	height: 90%;
	
}
}
/*
@media (max-width: 480px) {
  slider {
    padding: 50px 0 50px; } }*/