/*##################*/



/* iPhone x ----------- */
@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: landscape) {
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.container.ng-scope{	max-width: 540px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_galaxy.png);
    background-repeat: no-repeat;
}
}
@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: portrait) {
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope{	width: 310px;}
}

/* Pixel 2 XL ----------- */
@media only screen and (min-width: 411px) and (max-height: 823px) and (orientation: landscape) {
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.container.ng-scope{	max-width: 940px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_ipad_pro.png);
    background-repeat: no-repeat;
}
}
@media only screen and (min-width: 411px) and (max-height: 823px) and (orientation: portrait) {
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope{	width: 310px;}
}


/* iPhone 6/7/8 ----------- */
@media only screen and (min-width: 375px) and (max-height: 736px) and (orientation: landscape) {
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.container.ng-scope{	max-width: 540px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_galaxy.png);
    background-repeat: no-repeat;
}
}
@media only screen and (min-width: 375px) and (max-height: 736px) and (orientation: portrait) {
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope{	width: 310px;}
}


/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}

.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_galaxy.png);
    background-repeat: no-repeat;
}
}
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope{	width: 310px;}
/*
.slick-next.slick-arrow{background: url(../images/arrow.png) 0 0;}
.slick-prev.slick-arrow{background: url(../images/arrow.png) 0 0;}
*/
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3){
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}

.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_galaxy.png);
    background-repeat: no-repeat;
}
}
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){
/* стили */
svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope{	width: 310px;}
.slick-next{width: 18px;}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3){
/* стили */

header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}

.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_galaxy.png);
    background-repeat: no-repeat;
}
}
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){
/* стили */

header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav-1.png);
    background-repeat: no-repeat;
	
}
.container.ng-scope
{
	width: 310px;
}
}

@media (min-width: 1020px )and (max-height: 1366px)and (orientation: portrait){
	svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_ipad_pro.png);
    background-repeat: no-repeat;
}
.slick-slide
{
	height: 40%;
	
}
}

@media (min-width: 768px)and (max-height: 1024px)and (orientation: portrait){
	svg.svg-inline--fa{color:#322e32}
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px;padding-right: 40px;}
.slick-slider
{
	margin-bottom: 30px;
background-image: url(/static/lady/images/grav_ipad.png);
    background-repeat: no-repeat;
}
.slick-slide
{
	display: none;
	float: left;
	height: 50%;
	min-height: 1px;
	
}
}
