


<!--
<ul> 
		<li ng-repeat="row in jsondata">
		     {{ row.id + ', ' + row.img + ', ' + row.price}} <br>
	        </li>
</ul>
-->
 <!-- ng-repeat="row in jsondata"  <body> 
 <link rel="stylesheet" href="static/slick/css/app.dist.css">-->
 <link rel="stylesheet" href="static/slick/css/app.dist.css">
 <link rel="stylesheet" href="static/slick/css/slick.min.css">
	 <link rel="stylesheet" href="static/slick/css/slick-theme.min.css">

<!--  
<div data-ng-repeat="i in [1,2,3,4,5]">
  do something
</div
-->

      <div class="container" style="padding-top:5rem">




<a href ng-click="goCats = !goCats">GLASSES</a>

<div id="glasses" class="block3" ng-show="!goCats" ng-controller="SlickController">
		<div class="container">
			<h2>Гравировка на бокалах</h2>				
			<div class="b3_line" >
					<div class="b3_left">
						<img src="/static/img/01.jpg" alt="" />
					</div>	
			
				<div class="b3_right">
				
					<div class="glasses">
						<div class="b3_right_top">
							<div class="b3_right_title">Выберите ваш бокал:</div>
						</div>
						<slick class="slider" settings="slickConfig3" ng-if="slickConfig3Loaded" dots="true">
						<!--<slick class="slider" settings="slickConfig2" ng-if="slickConfig3Loaded" dots="true">
						<slick class="slider" settings="slickConfig3" ng-if="slickConfig3Loaded" dots="true">-->
                <div ng-repeat="glass in glassID">
                  <!--  <div class="" ng-include="'tpl2.html'"></div> 
					<div ng-repeat="i in number2  track by $index">-->
				   <div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img ng-src="/static/{{glass.img}}" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a ui-sref = "home-glasses"  class="btn" ><span>Далее</span></a> <a ui-sref = "IdGlasses({ glassesId: glass.id })"> {{glass.id}} </a>	</div> 
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
                
				</div>
				
            </slick>
											</div>

																</div>
					</div>
					<div class="b3_right_text">* Цена указана за 2 бокала с гравировкой.          
        </div>
				</div>
			</div>
		</div>
	</div>



  
  
  

 

      </div>


  

  
 
  

	

	<!-- 
<script type="text/javascript" src="/static/js/main.js"></script>-->




