<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                
                <h2 class="c-h-roz">{{block2.b2_glass}}</h2>
				<p style="
				font-family: 'MonotypeCorsiva';
				font-size: 28px;
				text-align: center;
				">{{block2.b2_glass_line1}}</p>
				<!--<p class="size-33"><span class="b2_title bgFFF0FF">{{block2.b2_title}}</span></p>
               !			   <p class="w-360">Свадьба - день, который вы ждете с трепетом и будете вспоминать всю жизнь. Сохранить память об этом важном событии можно с помощью гравировки на свадебных бокалах.  Мы с радостью поможем сделать главный день в вашей жизни оригинальным и незабываемым!</p> 
			   <p class="w-360"></p><p><em>Это тот день, который вы ждете с трепетом и будете вспоминать всю жизнь. Сохранить память об этом важном событии и создать оригинальный аксессуар праздничного дня можно с помощью гравировки на свадебных бокалах, бутылках и замочках. Мы с радостью поможем сделать главный день в вашей жизни оригинальным и незабываемым!</em></p><p></p>-->
			   <div class="b2_text"><p><em>{{block2.b2_text}}</em></p>
			   <a href="#" class="btn btn-danger">Заказать гравировку</a></div>
			   
               
            </div>
            <div class="col-lg-5 blok-bokal"><img class="bokal" src="static/lady/images/glass-main.png" alt="#"></div>
        </div>
    </div>
</section>