
	<div class="container">
		<div class="row">
			<div class="col-lg-7">	
			<a><img ng-src="static/lady/images/deliver.png" style="padding-top: 30px; padding-bottom: 30px;"></a>
			</div>
			<div class="col-lg-5 blok-bokal">
			<p  style="
				font-size: 48px;
				color: #363636;
				font-family: 'MonotypeCorsiva';
				font-weight: bold;
				padding-top: 50%;
				text-align: center;
				"> Доставка по Москве до <u style="color: #f0f;">5</u> дней!</p>
				
			</div>
		</div>
	</div>

	<div class="foote" style="background-color: #f8f9fa!important;">
	<div class="row">
	<!-- -->
               <div class="col-lg-3 top-contact pt-4">
				    <ul style="text-align: center;">
					<a class="nav-link" href="main">ГЛАВНАЯ</a> 
					<a class="nav-link" href="/glasses">Сделать заказ</a> 
					
				
                   </ul>
				              			   
				   
               </div>
			 
               <div class="col-lg-6 text-center">
                   <p><img src="static/lady/images/Lady-Marlene.png" alt="логотип" style="padding-top: 20px;"></p>
                   <p>Индивидуальная свадебная гравировка</p>
                </div>
               <div class="col-lg-3 top-contact pt-4">
					<ul style="text-align: center;">
							<a class="nav-link" href="index.html#work">НАШИ РАБОТЫ</a>
							<a class="nav-link" href="index.html#delivery">ДОСТАВКА</a>
					</ul>
               </div>
           </div>
			
	</div>
