<!--	<div class="h_menu">
		<div class="container">
			<div class="top_menu">
				<div class="mob_menu">{{mob_menu.pos0}}</div>
				<ul>
				{% for link,item in menu.items() %}
				<li><a href="{{link}}">{{item}}</a></li>
				{% endfor %}
				
				</ul>
			</div>
		</div>
	</div> -->
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
     <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Сделать заказ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Наши работы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Доставка и оплата</a>
      </li>-->
	  {% for link,item in menu.items() %}
				
				<li class="nav-item">
				<a class="nav-link" href="{{link}}">{{item}}</a>
				</li>
				{% endfor %} 
    </ul>
  </div>
  </div>
</nav>
