@import https://fonts.googleapis.com/css?family=Montserrat:400,600,800&subset=cyrillic;
@media (min-width: 1200px) {
.container{max-width:1170px}
}
body{color:#363636;overflow-x:hidden}
a{color:#f0f;text-decoration:underline}
.c-roz{color:#f0f}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-weight:700}
a:hover{color:#363636}
img{max-width:100%}
section,.section{padding:35px 0}
svg.svg-inline--fa{color:#f0f}
header.header{padding:30px 0}
.header p{margin:0}
.top-contact svg{margin-right:10px}
.top-contact a{color:#363636;text-decoration:none}
li.cart{border-right:1px solid #363636}
li.cart svg{font-size:37px;margin-right:16px}
li.cart-right{padding-left:16px;letter-spacing:-1px}
svg.svg-inline--fa.fa-ruble-sign.fa-w-12{color:#363636}
a.nav-link{text-transform:uppercase;text-decoration:none;font-weight:600}
li.nav-item.active a.nav-link{border-bottom:3px solid #f0f}
.size-33{font-size:33px;margin-top:60px}
.size-72{font-size:72px}
span.bgFFF0FF{padding:0 10px 10px;background-color:#FFF0FF}
.btn-roz{color:#fff;text-decoration:none;padding:7px 30px;background:#c42aac;background:-moz-linear-gradient(45deg,rgba(196,42,172,1) 0%,rgba(238,94,215,1) 100%);background:-webkit-linear-gradient(45deg,rgba(196,42,172,1) 0%,rgba(238,94,215,1) 100%);background:linear-gradient(45deg,rgba(196,42,172,1) 0%,rgba(238,94,215,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c42aac',endColorstr='#ee5ed7',GradientType=1);-webkit-box-shadow:0 13px 21px -2px rgba(230,12,230,1);-moz-box-shadow:0 13px 21px -2px rgba(230,12,230,1);box-shadow:0 13px 21px -2px rgba(230,12,230,1);font-size:18px;font-weight:600;border-radius:23px;margin-top:70px}
.btn-roz:hover{background:#C32CAD;color:#fff}
ul#myTab{text-align:center;-ms-flex-pack:center!important;justify-content:center!important;-ms-flex:1 1 auto!important;flex:1 1 auto!important;display:-ms-flexbox!important;display:flex!important;-ms-flex:1 1 auto!important;flex:1 1 auto!important;margin-bottom:40px}
ul#myTab a.nav-link{color:#4C4C4C}
ul#myTab li.nav-item{border:1px solid #F7F7F7;margin:7px;float:none;display:inline-block}
ul#myTab li.nav-item a.nav-link.active{background-color:#F7F7F7}
.tovar-box{text-align:center;padding:15px}
.tovar-box:hover{box-shadow:1px 1px 13px #f0f;-webkit-box-shadow:1px 1px 13px #f0f}
.tovar-box h5{font-size:24px}
.tovar-box p{color:#929292}
.tovar-box img{max-height:233px}
p.price-s{color:#f0f;font-size:24px;font-weight:700}
p.price-s svg.fa-ruble-sign{color:#f0f!important}
.btn-zakaz{color:#363636;background-color:#F5F5F5;font-weight:600;width:100%;border-radius:20px;text-decoration:none}
.btn-zakaz:hover{background-color:#E8E8E8}
#mycarusel2 .owl-nav button.owl-next, #mycarusel2 .owl-nav button.owl-prev {
    background: #fff;
    border: 1px solid #363636;
    width: 53px;
    height: 53px;
    border-radius: 50%;
}
#mycarusel2 .owl-nav button.owl-next:hover, #mycarusel2 .owl-nav button.owl-prev:hover {
	background: #fff;
    color: #FF7AFF;
    border: 1px solid #FF7AFF;
}
#mycarusel2 .owl-nav {
    margin-top: -10px;
}
#mycarusel2 button.owl-next {
    position: absolute;
    top: 50%;
    left: auto;
    right: 23%;
}
#mycarusel2 button.owl-prev {
    position: absolute;
    top: 50%;
    left: 23%;
    right: auto;
}
#mycarusel2 span.my-previous, #mycarusel2 span.my-next {
    font-size: 57px;
    line-height: 23px;
}
#mycarusel2 .owl-dots {
    display: none;
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link{padding:0;margin-left:1rem;margin-right:1rem}
div#navbarSupportedContent{-ms-flex-pack:center!important;justify-content:center!important;-ms-flex:1 1 auto!important;flex:1 1 auto!important;display:-ms-flexbox!important;display:flex!important;-ms-flex:1 1 auto!important;flex:1 1 auto!important}
li.nav-item{border-right:1px solid #E2E2E2}
li.nav-item:last-child{border-right:none}
.w-360{max-width:360px}
img.bokal{position:absolute;right:-70px;z-index:777;max-height:107%}
}
@media (max-width: 1999.99px) {
li.cart svg{font-size:33px;margin-right:10px}
li.cart-right{padding-left:10px;letter-spacing:-1px;line-height:15px}
}
@media (max-width: 991.99px) {
header.header{text-align:center}
ul.nav.right-top{position:absolute;z-index:7;right:0;bottom:0;margin-bottom:-75px}
}