


 



      <div class="container" style="padding-top:5rem">



<a href ng-click="goCats = !goCats">GLASSES</a>

<div id="glasses" class="block3" ng-show="!goCats">
		<div class="container">
			<h2>Гравировка на бокалах</h2>				
			<div class="b3_line" >
					<div class="b3_left">
						<img src="/static/img/01.jpg" alt="" />
					</div>	
			
				<div class="b3_right">
				
					<div class="glasses">
						<div class="b3_right_top">
							<div class="b3_right_title">Выберите ваш бокал:</div>
						</div>
						<div id="carousel" class="b3_right_carousel owl-carousel" >
						
										
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1001"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1001"> 1001 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1001"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1001"> 1001 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1001"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1001"> 1001 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1001"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1001"> 1001 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1001"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1001"> 1001 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1001"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1001"> 1001 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b03.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1400</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1002"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1002"> 1002 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b03.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1400</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1002"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1002"> 1002 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b03.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1400</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1002"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1002"> 1002 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b03.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1400</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1002"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1002"> 1002 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b03.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1400</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1002"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1002"> 1002 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b03.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1400</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1002"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1002"> 1002 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b04.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1500</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1003"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1003"> 1003 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b04.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1500</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1003"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1003"> 1003 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b04.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1500</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1003"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1003"> 1003 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b04.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1500</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1003"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1003"> 1003 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b04.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1500</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1003"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1003"> 1003 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b04.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1500</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1003"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1003"> 1003 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b05.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1004"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1004"> 1004 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b05.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1004"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1004"> 1004 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b05.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1004"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1004"> 1004 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b05.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1004"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1004"> 1004 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b05.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1004"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1004"> 1004 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b05.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1004"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1004"> 1004 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b06.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1100</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1005"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1005"> 1005 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b06.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1100</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1005"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1005"> 1005 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b06.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1100</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1005"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1005"> 1005 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b06.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1100</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1005"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1005"> 1005 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b06.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1100</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1005"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1005"> 1005 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b06.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1100</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1005"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1005"> 1005 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b07.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1006"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1006"> 1006 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b07.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1006"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1006"> 1006 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b07.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1006"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1006"> 1006 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b07.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1006"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1006"> 1006 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b07.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1006"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1006"> 1006 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b07.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1600</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1006"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1006"> 1006 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b08.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1200</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1007"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1007"> 1007 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b08.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1200</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1007"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1007"> 1007 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b08.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1200</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1007"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1007"> 1007 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b08.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1200</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1007"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1007"> 1007 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b08.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1200</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1007"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1007"> 1007 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b08.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1200</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1007"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1007"> 1007 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b01.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1900</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1008"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1008"> 1008 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b01.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1900</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1008"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1008"> 1008 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b01.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1900</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1008"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1008"> 1008 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b01.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1900</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1008"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1008"> 1008 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b01.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1900</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1008"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1008"> 1008 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b01.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1900</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1008"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1008"> 1008 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1009"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1009"> 1009 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1009"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1009"> 1009 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1009"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1009"> 1009 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1009"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1009"> 1009 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1009"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1009"> 1009 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
									
									
									<div class="b3_right_carousel_item">
												<div class="b3_right_carousel_img"><img src="/static/source/glasses/b02.png" alt="" /></div>
												<div class="b3_right_carousel_price">Цена <span>1300</span> руб.</div>
											<!--	-->
											<div class="b3_right_carousel_button_n"><a href="glasses?item_id=1009"  class="btn" ><span>Далее</span></a> <a href = "main#!/glass/1009"> 1009 </a>	</div> 
											
												

												<div class="b3_right_carousel_sub"></div>					
											</div>
									
										
								
										
										
										
										
										
										
										
										
										
										

																					
											
																
																											</div>
											</div>

																</div>
					</div>
					<div class="b3_right_text">* Цена указана за 2 бокала с гравировкой.          
        </div>
				</div>
			</div>
		</div>
	</div>



  
  
  

 

      </div>


  

  
 
  

	

<script type="text/javascript" src="/static/js/main.js"></script>




</html>