<!--
<form name="myForm">
    <label>
       User name:
       <input type="text" name="userName" ng-model="name" required ng-minlength="1" ng-maxlength="4">
    </label>
    <div role="alert">
      <span class="error" ng-show="!myForm.userName.$valid">
       Required!</span>
    </div>
</form>
-->
<div id="overlay"></div>
<div class="container" ng-controller="SlickController">

<div class="row" style="display: block;" ><!--style="display: contents;">-->
<div class="a-popover-wrapper"> <!-- style="zoom: 1.00;"> -->


<header class="a-popover-header">

<h4 class="a-popover-header-content">Детали заказа</h4>

<button id="a-popover-close" class="a-button-close" aria-label="Close">
<i class="a-icon a-icon-close"></i>
</button>

<span id="a-popover-label-3" class="a-popover-a11y-offscreen" aria-hidden="true" style=""></span>

</header>



<div class="a-popover-inner" id="a-popover-content-3">
<div class="a-section">
<div id="custom-widget-container" class="a-fixed-left-grid">
<div class="a-fixed-left-grid-inner">
<!-- Left side-->
<div id="custom-widget-left-column" class="a-fixed-left-grid-col a-col-left">

<div class="ac-preview-container">
   <!-- <img src="https://m.media-amazon.com/images/S/pc-vendor-gallery-prod-eu/A2DO0COYQ3DAG1/productImage/2018-11-11/b4c7ee3e-0e84-4bd4-bdeb-7dea9697898b.jpg" alt="preview-image" class="ac-surface-background-image" style="height: 400px; width: 400px; perspective-origin: 200px 200px; transform-origin: 200px 200px;"> -->
   <div class="container" style="padding-bottom: 35px; padding-top: 35px;">
   <!--<h5>ИНДИВИДУАЛЬНАЯ ГРАВИРОВКА</h5>--> 
   <h5> СВАДЕБНЫЕ БОКАЛЫ+ГРАВИРОВКА</h5>
   </div>
	<div class="container">
	<div class="b3_right" style ="width: 60.41%;">
	
					<img ng-src="{{inOfferID('imgr')}}" ng-mousedown="setCurrentPos($event)" ng-click="ctrlClickHandler($event);" style="padding-right: 10px; padding-left: 10px; cursor: pointer;">					
	
	</div>	
	
	<div>
	<div class="b3_left" style ="width: 30.41%;">
	
				<img ng-src="{{inOfferID('imgg')}}" ng-mousedown="setCurrentPos($event)" ng-click="ctrlClickHandler($event);" style="padding-right: 10px; padding-left: 10px; cursor: pointer;">		
	
	</div>
	
	
	<div class="b3_left" style ="width: 30.41%;">
	
					<img ng-src="{{inOfferID('img')}}" ng-mousedown="setCurrentPos($event)" ng-click="ctrlClickHandler($event);" style="padding-right: 10px; padding-left: 10px; cursor: pointer;">
					
	
	</div>
	<!--<div class="b3_left" style ="width: 50.41%;">
	
					<img ng-src="/static/lady/images/examples/DPP_0057.png" ng-mousedown="setCurrentPos($event)" ng-click="ctrlClickHandler($event);" style="padding-right: 10px; padding-left: 10px; cursor: pointer;">							
	
	</div> -->
	</div>
	</div>
	
    
<!--	
<div class="canvas-container">
<canvas id="surface-0-area-0" top="266" left="40" width="344" height="35" class="canvasArea lower-canvas" style="position: absolute; width: 343.993px; height: 35px; left: 0px; top: 0px; user-select: none; bottom: 0px; display: block; right: -0.0173611px; perspective-origin: 171.979px 17.5px; transform-origin: 171.988px 17.5px;"></canvas>
<canvas class="upper-canvas canvasArea" width="344" height="35" style="position: absolute; width: 343.993px; height: 35px; left: 0px; top: 0px; user-select: none; touch-action: auto; cursor: default; bottom: 0px; display: block; right: -0.0173611px; perspective-origin: 171.979px 17.5px; transform-origin: 171.988px 17.5px;">
</canvas>
</div>
-->


</div>

<div class="ac-preview-guideline">
            <span class="a-color-secondary" >
                Примечание: Отображение является примером. На бокалах будет гравировка с вашими данными.
				<p><i><i style="color: #f0f;">*</i> в комплекте 2 бокала</i>
            </span>
        </div>
		
				
</div>
<!-- Right side-->
<!-- <ngcart-addtocartoffer id="" name="" price="" quantity="1" quantity-max="5" text ="" data="" class="ng-isolate-scope"></ngcart-addtocartoffer>-->

<!--	<span ng-show="quantityMax && !inCart()">Кол:
												<select name="quantity" id="quantity" ng-model="q"
												ng-options=" v for v in qtyOpt"></select>
												</span> -->
<div id="custom-widget-right-column" class="a-fixed-right-grid-col" >
		<div id="custom-widget-right-column-buybox" class="a-row">
				<div class="a-column">
				
						<div class="a-box" ng-controller='CartController'>
						

						
						<div style="float: left; height: 25.5556px; margin-right: 5.03472px; min-height: 1px; text-align: center; width: 144.861px; perspective-origin: 72.4132px 12.7778px; transform-origin: 72.4219px 12.7778px;">
						<div class="a-box-inner">
								<div class="pc-popover-footer-wrapper">
										<form method="post" id="addToCart" class="pc-buy-box ng-pristine ng-valid" style="height: 79.9306px; margin-bottom: 15px; text-align: center; width: 252.188px; perspective-origin: 126.094px 39.9653px; transform-origin: 126.094px 39.9653px;">
										
												<div class="a-spacing-small">
												
													<div class="a-column a-span7" style="float: left; height: 25.5556px; margin-right: 5.03472px; min-height: 1px; text-align: center; width: 144.861px; perspective-origin: 72.4132px 12.7778px; transform-origin: 72.4219px 12.7778px;">
												
														<span class="a-font_price" style="">Price: 
														
														</span>
														
													<span id="ac-atc-price-value" class="a-color-price">{{inOfferID('price')}}₽</span>
														
														
													</div>
												
												</div>
												<div class="a-row a-spacing-top-medium" style="height: 30.9722px; margin-top: 18px; text-align: center; width: 252.188px; perspective-origin: 126.094px 15.4688px; transform-origin: 126.094px 15.4774px;">
            


												<span class="a-declarative"  style="text-align: center;">
												<span id="buybox-atc-btn" ng-hide="OfferValid(id)" class="a-add_button" style="">
												 									
												<span class="a-button-inner" ng-click="myForm.fname.$dirty=true; myForm.lname.$dirty=true; inOfferID(myForm.fname.$dirty && myForm.fname.$invalid || myForm.lname.$dirty && myForm.lname.$invalid); ngCart.addItem(id, name, price, q, data, offer_names+' '+offer_date,(myForm.fname.$dirty && myForm.fname.$invalid || myForm.lname.$dirty && myForm.lname.$invalid));">  <!---->
												<i class="a-icon-cart"></i>
												<input id="pc-atc" class="a-button-input" type="submit"  aria-labelledby="buybox-atc-btn-announce">
												<span id="buybox-atc-btn-announce" class="a-button-text" aria-hidden="true" >Добавить
												
												</span></span></span>
																							
   <span style="color:red" ng-show="OfferValid(id)"> <a href="/cart">Товар добавлен</a> 
   <p>
   <button class="nav-link btn-zakaz" style="cursor: pointer; margin-top: 10px;"
           ng-click="ngCart.removeItemById(id)">Убрать</button>
   </p>
   </span> 
   

   
  <!-- <span style="color:red" ng-bild='id' ng-hide="attrs.id"> 123{{id}}</span> <!---->
  <!-- <div>
   
    <p>{{inOfferID('id')}}</p>
</div>-->

		  
													</span> 
													
												</div>
										</form>
									</div>
								</div>					
													
													</div>
						
						<!--<p>
						<input type="submit" ng-click="ngCart.addItem(123, 123, 123, 1, 123, 123+' '+123); myForm.fname.$dirty=true; myForm.lname.$dirty=true; OfferValid(myForm.fname.$dirty && myForm.fname.$invalid || myForm.lname.$dirty && myForm.lname.$invalid)" ng-disabled="myForm.fname.$dirty && myForm.fname.$invalid || myForm.lname.$dirty && myForm.lname.$invalid || myForm.address.$dirty && myForm.address.$invalid || myForm.email.$dirty && myForm.email.$invalid">
						</p>-->
						
						<!--
								<div class="a-box-inner">
									<div class="pc-popover-footer-wrapper">
										<form method="post" id="addToCart" action="/gp/product/handle-buy-box/ref=amazon_custom_atc_ac" class="pc-buy-box ng-pristine ng-valid" style="height: 79.9306px; margin-bottom: 15px; text-align: center; width: 252.188px; perspective-origin: 126.094px 39.9653px; transform-origin: 126.094px 39.9653px;">
												<div class="a-spacing-small">
													<div class="a-column a-span7" style="float: left; height: 25.5556px; margin-right: 5.03472px; min-height: 1px; text-align: center; width: 144.861px; perspective-origin: 72.4132px 12.7778px; transform-origin: 72.4219px 12.7778px;">
                        
														<span class="a-font_price" style="">Price:
														</span>
														<span id="ac-atc-price-value" class="a-color-price">£29.50
														</span>
													</div>
												
												</div>
												<div class="a-row a-spacing-top-medium" style="height: 30.9722px; margin-top: 18px; text-align: center; width: 252.188px; perspective-origin: 126.094px 15.4688px; transform-origin: 126.094px 15.4774px;">
            


												<span class="a-declarative" style="text-align: center;">
												<span id="buybox-atc-btn" class="a-add_button" style="">
												<span class="a-button-inner">
												<i class="a-icon-cart"></i>
												<input id="pc-atc" class="a-button-input" type="submit" aria-labelledby="buybox-atc-btn-announce">
												<span id="buybox-atc-btn-announce" class="a-button-text" aria-hidden="true" >Add to Basket
												
												</span></span></span>
													</span>
												</div>
										</form>
									</div>
								</div> -->
						</div>
				
				</div>
		
		</div>
		<div id="custom-widget-right-column-input-box" class="a-row-input">
				<div class="a-column-input">
						<div class="a-box-input">
						<div class="a-box-input-inner">
							<div class="pc-single-text-input-container">
												<!--<form name="myForm" novalidate>
<p>First Name:<br>
<input type="text" name="fname" ng-model="fname" required>
<span style="color:red" ng-show="myForm.fname.$dirty && myForm.fname.$invalid"> 
<span ng-show="myForm.fname.$error.required">First name is required!!!.</span>
</span>
</p>
<p>Last Name :<br>
<input type="text" name="lname" ng-model="lname" required>
<span style="color:red" ng-show="myForm.lname.$dirty && myForm.lname.$invalid">
<span ng-show="myForm.lname.$error.required">Last name is required.</span>
</span>
</p>


</form>-->
						<!-- Input Surname-->
						<form name="myForm" novalidate>	
								<div class="a-row1" >
										<div class="a-column3">
											<div class="a-row1">
													<label class="a-form-label">
													Введите имена:
													</label>
													
													<input id='offer_names' type="text" name="fname" ng-model="fname" required autocomplete="off" placeholder="Виктор+Елена" class="a-input-text" ng-disabled="OfferValid(id)" ng-minlength="1" ng-maxlength="20" maxlength="20">
													<span style="color:red" ng-show="myForm.fname.$dirty && myForm.fname.$invalid"> 
													<span ng-show="myForm.fname.$error.required">Поле обязательное!</span>
													</span>
													
											</div>
											<div class="a-row2">
													<div class="a-column1">
														<div class="a-section-input">
															<span class="a-size-small isRequiredLabel a-text-italic" style="font-size: 12px; font-style: italic; line-height: 18px;">обязательное
															</span>
														</div>
													</div>
													<div class="a-column2" >
													<div class="a-section-input1">
                    
													<span class="pc-char-limit-length">20</span>
													<span class="a-size-small">символов
													</span>
													</div>
													</div>
											</div>
										</div>
								</div>
								<!-- /end Input-->	
								
								<!-- Input Date of Wedding -->	
								<div class="a-row1">
										<div class="a-column3">
											<div class="a-row1">
													<label class="a-form-label">
													Введите дату:
													</label>
													
													<input id='offer_date' type="text" name="lname" ng-model="lname" required autocomplete="off" placeholder="11.11.11" class="a-input-text" ng-disabled="OfferValid(id)" ng-minlength="1" ng-maxlength="15" maxlength="15">
													<span style="color:red" ng-show="myForm.lname.$dirty && myForm.lname.$invalid">
													<span ng-show="myForm.lname.$error.required">Поле обязательное!</span>
													</span>
											</div>
											<div class="a-row2">
													<div class="a-column1">
														<div class="a-section-input">
															<span class="a-size-small isRequiredLabel a-text-italic" style="font-size: 12px; font-style: italic; line-height: 18px;">обязательное
															</span>
														</div>
													</div>
													<div class="a-column2" >
													<div class="a-section-input1">
                    
													<span class="pc-char-limit-length">{{10-char_limit}}</span>
													<span class="a-size-small">символов
													</span>
													</div>
													</div>
											</div>
										</div>
								</div>
								<!-- /end Input Date of Wedding-->	
								</form>
							
							</div>
						</div>
						</div>
				</div>
		</div>

</div>

</div>

</div>

</div>







   










</div>
</div>
 </div> 

 </div>

<!--<script type="text/javascript" src="/static/js/main.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
  <link rel="stylesheet" href="static/css/offer.css">

 

